.secret-message {
  color: #f5c209;
  font-weight: 800;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 5px 6px 3px black;
  font-size: 31px;
}
