@import '../../index.scss';

.userProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__label {
    font-size: x-large;
    color: beige;
    font-weight: 700;
    text-shadow: 5px 6px 3px black;
  }

  &__close {
    cursor: pointer;
  }
}

.secret-message {
  color: #f5c209;
  font-weight: 800;
  justify-content: center;
  text-shadow: 5px 6px 3px black;
  font-size: xxx-large;
}

.secret-name {
  font-size: 50px;
  color: cornflowerblue;
}

.wish-message {
  color: $message-color;
  font-weight: 800;
  justify-content: center;
  align-items: center;
  text-shadow: 5px 6px 3px black;
  font-size: 31px;
}

.wish__list,
.owner__wish-list {
  background-color: rgba(19, 18, 18, 0.7);
  width: 400px;
  margin-top: 25px;
  padding: 15px;
  color: #a5a5fb;
  border-radius: 15px;
  box-shadow: inset -3px 7px 10px 3px;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  font-size: 18px;
  font-style: oblique;
  font-family: monospace;
}

.owner__wish-list {
  color: #a5fbcc;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.wish__li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  transition: 0.3s all;

  &:hover {
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-size: 100%;
    background-image: linear-gradient(90deg, #5ae5d8, transparent);
    cursor: default;
  }
}
