.login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

p {
  margin: 0 0 0 0 !important;
  height: 30px;
  font-weight: 800;
  color: #ee1d1d;
}
