$message-color: #86c631;

body {
  background-color: #011c23;
}

p {
  margin: 0 0 0 0 !important;
  height: 30px;
  font-size: 19px;
  font-weight: 900;
  color: #ff2600;
}

#root {
  height: 100vh;
  background: url('./images/prazdnichnye-vektornaya.jpg') no-repeat (center / cover);
}

.form {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}

.form__label {
  color: white;
  margin-left: 15px;
}
