$message-color: #86c631;

body {
  height: 100vh;
  background: url('./images/secret-santa.jpg') no-repeat (center / cover);
}

.form {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}

.form__label {
  color: white;
  margin-left: 15px;
}
