* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: url('./images/secret-santa.jpg') no-repeat (center / cover);
}

.form {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
}

.form__label {
  color: white;
  margin-left: 15px;
}
